.Footer-Container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80vh;
    height: 20vh;
    width: 100vw;
    background-size: cover;
    background-color: rgb(218, 233, 246);
    background-image: url("https://tenzotea.co/cdn/shop/files/ft_bg.png?v=1636552563");
}
