.Footer-Container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 90vh;
    height: 10vh;
    width: 100vw;
    background-size: cover;
    background-color: rgb(218, 233, 246);
    background-image: url("https://t4.ftcdn.net/jpg/03/10/37/25/360_F_310372527_QHGvFcWTuqalbHPabQTmNwJNEQlWeiKv.jpg");
}
