.container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color:brown;
  background-color: #f7f7f7;
  max-width: 1000px;
  min-height: 100vh;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  margin-top: 9px;
}

.AppName{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.AppIcon{
  width: 106px;
  height: 86px;
  margin: 15px;
  border-radius: 50%;
  
}

.SearchBox{
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  border-radius: 6px;
  margin-left: 20px;
  width: 40%;
  background-color: gold;
}

.Placeholder{

  width: 120px;
  height: 120px;
  margin: 200px;
  opacity: 50%;
}

.SearchInput{

  color: rgb(17, 17, 17);
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-left: 15px;

}

.SearchInputText{

  color: rgb(17, 17, 17);
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-left: 15px;

}

.SearchIcon{

  width: 22px;
  height: 22px;
  margin-left: 120px;
  
}



.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 250px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.card-image {
  width: 100%;
}

/* a {
  background-color: rgb(250, 151, 13);
  color: rgb(10, 10, 10);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
} */

.card-body h6 a{
  background-color:white;
  color: rgb(236, 15, 15);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.card-body h6{

  margin: 10px;
}

.YoutubeLinkClass{

  background-color: rgba(247, 245, 242, 0.968);
  color: rgb(236, 17, 17);
  padding: 1px;
  border-radius: 10px;
  text-decoration: none;
}

.YoutubeLinkClass a{

  color: blue;
  font-weight: 100;
  font-size: medium;
  background-color: #f7f7f7;
}
.card-body {
  padding: 2px;
  text-align: center;
 
}

.category {
  color:rgb(28, 9, 236);
}

.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -167px;
  /* background-size: cover; */
}

.headerContainer{
  
  width:auto;
  height: 30px;
  color: purple;
  margin-top: 580px;
  margin-left: 80vh;
}

.home .headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: purple;
  /* margin-top: 280px;
  margin-left: 50px;
} */}
.home .headerContainer h4 {
  margin-top: 0px;
  padding: 0;
  font-size: 25px;
  font-weight: lighter;
  margin-left:38px;
  color:rgb(230, 142, 230);
}

.headerContainer button {
  background-color:  #ebb2eb;
  margin-top: 9px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 380px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: purple;
  cursor: pointer;
  transition: 0.3s ease-in;
}

/* .headerContainer img{
  height:60vh;
  margin-bottom: 2px;
} */

form {
  display: flex;
  width: 100%;
  justify-content: center;
}

input {
  border: 1px solid #f7f7f7;
  padding: 10px;
  font-size: 16px;

}
input:focus {
  outline: none;
}

.form-control {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
}

.btn {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(11, 11, 11);

}

.buttonClass{
 
  width:180px;
  height: 40px;
  border-width: 2px;
  border-radius: 20px;
  color: blueviolet;
  background-color: black;
  font-weight: bold;
}

.SearchInputText{

  color: rgb(142, 30, 246);
}

.navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-menu li {
  margin: 0px 20px;
}
.navigation-menu li a {
  text-decoration: none;
  color: white;
}


.active {
  color: goldenrod !important;
  font-weight: bold !important;
}
/* mobile view */
.mobile-navigation {
  list-style: none;
}
.mobile-navigation li {
  margin-top: 20px;
}
.mobile-navigation li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

.RegisterMainDiv{

  font-weight: bold;
  margin-left: 50vh;
  margin-top: 10vh;
  color: #981778;

}

.FormClass{
  margin-left: -126vh;
  margin-top: 10vh;
}

.submit-button-class{
  background-color: #ebb2eb;
  width: 70px;
  border-radius:30px;
  cursor: pointer;
  
}

.FooterClass{
 position: relative;
  margin-top:47vh;
}

.FooterClass1{

margin-top:-21%;
}

.Texth1class{

  font-weight: bold;
  margin-left: 50vh;
  font-size: 35px;
  margin-top: 10%;
  color: #981778;

}

.textboxClass{
  border-color: #ebb2eb;
  margin-right: 20px;
}

/* Styling for Register page */


.ContainerRegisterClass{

  width: 100wh;
  height: 100vh;
  color: #000000;
  margin-top: -19%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
.RegisterImagesclass{
 
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Marquees{
  display: flex;
  width: 1200px;
  overflow: hidden;
  user-select: none;

  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}

.MarqueeGroup{

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  width: 100%;
  /* animation: ${scrollX} 30s linear infinite; */
}

.ImageGroup{

  display: grid;
  place-items: center;
  width: clamp(10rem, 1rem + 40vmin, 30rem);
  padding: calc(clamp(10rem, 1rem + 30vmin, 30rem) / 10);
}

.MyImage{

  object-fit: contain;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  border-radius: 0.5rem;
  aspect-ratio: 18/9;
  padding: 5px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

