.container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color:brown;
  background-color: #f7f7f7;
  max-width: 1000px;
  min-height: 100vh;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
}

.AppName{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.AppIcon{
  width: 106px;
  height: 86px;
  margin: 15px;
  border-radius: 50%;
  
}

.SearchBox{
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  border-radius: 6px;
  margin-left: 20px;
  width: 40%;
  background-color: gold;
}

.Placeholder{

  width: 120px;
  height: 120px;
  margin: 200px;
  opacity: 50%;
}

.SearchInput{

  color: rgb(17, 17, 17);
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-left: 15px;

}

.SearchInputText{

  color: rgb(17, 17, 17);
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-left: 15px;

}

.SearchIcon{

  width: 22px;
  height: 22px;
  margin-left: 120px;
  
}



.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 250px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.card-image {
  width: 100%;
}

a {
  background-color: rgb(250, 151, 13);
  color: rgb(10, 10, 10);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

h6 a{
  background-color:white;
  color: rgb(236, 15, 15);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.YoutubeLinkClass{

  background-color: rgba(247, 245, 242, 0.968);
  color: rgb(236, 17, 17);
  padding: 1px;
  border-radius: 10px;
  text-decoration: none;
}

.YoutubeLinkClass a{

  color: blue;
  font-weight: 100;
  font-size: medium;
  background-color: #f7f7f7;
}
.card-body {
  padding: 1px;
  text-align: center;
 
}

.category {
  color:rgb(28, 9, 236);
}


form {
  display: flex;
  width: 100%;
  justify-content: center;
}

input {
  border: 1px solid #f7f7f7;
  padding: 10px;
  font-size: 16px;

}
input:focus {
  outline: none;
}

.form-control {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
}

.btn {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(11, 11, 11);

}

.buttonClass{
 
  width:180px;
  height: 40px;
  border-width: 2px;
  border-radius: 20px;
  color: blueviolet;
  background-color: black;
  font-weight: bold;
}

.SearchInputText{

  color: rgb(142, 30, 246);
}

.navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-menu li {
  margin: 0px 20px;
}
.navigation-menu li a {
  text-decoration: none;
  color: white;
}
